# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
*.db

# Node
node_modules/
dist/
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
.env.docker
docker-compose.override.yml

# Editor / IDE
.vscode/
.idea/

# Local config
frontend/config.json
